footer{
    background-color: var(--branco-principal);
}
.linha__footer{
    border: 1px solid #858585;
    margin-top: 0;
}

.lista__footer{
    display: none;
}

.texto__footer{
    margin-right: 5em;
}


@media screen and (min-width: 1024px){
    .footer{
        display: flex;
        justify-content: space-around;
        padding: 3.5em 0em;
    }

    .texto__footer{
        font-size: var(--tamanho-fonte-5);
    }

    .lista__footer{
        display: block;
    }

    .titulo__lista__footer{
        font-size: var(--tamanho-fonte-1);
        color: var(--cinza-secundario-footer);
    }

    .lista__item{
         display: flex;
         align-items: center;
         padding: 0.5em 0em;
    }

    .lista__link{
        text-decoration: none;
        font-size: var(--tamanho-fonte-1);
        color: var(--cinza-descricao-footer);
        margin-left: 0.6em;
    }

}

@media screen and (min-width: 1728px){
    .lista__footer{
        border-left: 1px solid var(--cinza-descricao-footer);
        padding-left: 1em;
    }

    .footer{
        padding: 4em 0em;

    }

    .texto__footer{
        margin-right: 0em;
        margin-left: 5em;
    }

}